.address {
  padding: 26px 20px;
}

.address__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.address__location {
  line-height: 20px;
  font-style: normal;
}
