.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $inverse-text;
  background-color: $accent-color;
  text-decoration: none;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.button--inverse {
  color: #444444;
  background-color: #f2f2f2;
}
