.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  border: none;
}

.button--inverse {
  color: #444444;
  background-color: #F2F2F2;
}
