.catalog-main {
  padding: 27px 0 35px;

  @media (min-width: $tablet-width) {
    padding: 0 0 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 87px;
  }
}

.catalog-main__title {
  margin: 0 20px 41px;

  @media (min-width: $tablet-width) {
    grid-column: 1/-1;
    margin: 0 30px 84px;
  }
}

.catalog-main__products {
  @media (min-width: $tablet-width) {
    margin: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
  }
}

.catalog-main__extra-wrapper {
  @media (min-width: $desktop-width) {
    padding: 0 110px;
    display: grid;
    grid-template-columns: 1fr 245px;
    gap: 80px;
    position: relative;
    padding-top: 192px;
  }
}

.catalog-main__extra {
  margin: 0 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.catalog-main .catalog-main__promotion {
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
