.catalog-main {
  padding: 27px 20px 35px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 87px;
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-template-rows: 1fr max-content;
    column-gap: 81px;
  }
}

.catalog-main__title {
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    grid-column: 1/-1;
  }
}

.catalog-main__products {
  grid-column: 1/-1;
}

.catalog-main .catalog-main__promotion {
  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 91px;
    padding: 185px 42px 43px;
  }
}
