.html-academy {
  color: #444444;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 168px;
    justify-content: flex-end;
    gap: 23px;
  }
}
