.main-header {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px 30px 0;
    margin-bottom: 65px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
    margin-bottom: 74px;
  }
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 20px 15px;

  @media (min-width: $tablet-width) {
    gap: 13px;
    padding: 0;
  }
}

.main-header__logo {
  color: #111111;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  width: 24px;
  height: 16px;
  background-color: #ffffff;
  border: none;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle--closed {
  &::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    top: 0;
    left: 0;
    box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
  }
}

.main-header__toggle--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000000;
    top: 8px;
    left: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__toggle--nojs {
  display: none;
}
