.programs {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 70px;
  }
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__item {
  background-color: #f2f2f2;
  margin: 0 20px;
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 57px;
    margin: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 52px 59px;
    margin: 0;
    width: calc(50% - 150px);
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 24px;
    left: 20px;
    background-color: $accent-color;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 192px;
      left: auto;
      transform: translateY(-50%);
      right: 63px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 94px;
      left: 52px;
    }
  }
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs-item__img {
  z-index: 2;
  position: absolute;
}

.programs-item__img-slim {
  top: 21px;
  left: 27px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 93px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 67px;
    right: auto;
  }
}

.programs-item__img-pro {
  top: 35px;
  left: 13px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    right: auto;
  }
}

.programs__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px 0 29px;
  margin-left: 70px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 214px;
    margin-bottom: 73px;
  }
}

.programs__description {
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    width: calc(100% - 300px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    border: none;
  }
}

.programs__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $basic-text;
  text-decoration: none;
  text-transform: uppercase;
  width: max-content;
  padding-right: 47px;
  background-image: url("../img/index__programs/program__link-arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;

  &:hover {
    background-image: url("../img/index__programs/program__link-arrow-hover.svg");
  }

  &:active {
    background-image: url("../img/index__programs/program__link-arrow-hover.svg");
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
