.reviews {
  background-color: #eaeaea;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 100px 30px;
    background: linear-gradient(to top, #eaeaea 462px, #ffffff 462px, #ffffff);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    background: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px, #f2f2f2);
    padding: 0 110px 75px;
  }
}

.reviews__container {
  @media (min-width: $desktop-width) {
    width: 35%;
  }
}

.reviews__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.reviews__cost {
  font-family: "Oswald", "Arial", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    width: 175px;
    text-align: end;
  }
}
