.show-more {
  border-bottom: 1px solid #ebebeb;
  background: none;
  grid-template-columns: 1fr;
  grid-template-rows: 60px max-content 1fr min-content;

  @media (min-width: $tablet-width) {
    padding: 50px 20px 40px;
    border: 2px solid #f2f2f2;
    display: grid;
  }
}

.show-more__plus {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  margin: 0 auto 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.show-more__title {
  width: 100%;
  text-align: center;
  margin: 0 auto 8px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin-bottom: 23px;
  }
}

.show-more__subtitle {
  color: #444444;
  display: block;
  width: 170px;
  justify-self: center;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 82px;
  }
}
