.reviews {
  background-color: #EAEAEA;
  padding: 25px 20px 40px;
}

.reviews__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
}

.reviews__cost {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
