.show-more {
  text-align: center;
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__subtitle {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
}
