@import "fonts.scss";
@import "blocks/address.scss";
@import "blocks/contacts.scss";
@import "blocks/extra-product.scss";
@import "blocks/extra-products.scss";
@import "blocks/features.scss";
@import "blocks/hero.scss";
@import "blocks/html-academy.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/form-main.scss";
@import "blocks/page.scss";
@import "blocks/products.scss";
@import "blocks/product.scss";
@import "blocks/program-form.scss";
@import "blocks/reviews.scss";
@import "blocks/show-more.scss";
@import "blocks/button.scss";
@import "blocks/programs.scss";
@import "blocks/change.scss";
@import "blocks/catalog-main.scss";
@import "blocks/main.scss";
@import "blocks/promotion.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
